gunicorn
asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
cloudinary==1.42.2
colorama==0.4.6
Django==3.2.10
django-cors-headers==4.5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
filelock==3.17.0
fsspec==2025.2.0
huggingface-hub==0.29.1
idna==3.10
packaging==24.2
pillow==11.1.0
PyJWT==2.9.0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
setuptools==75.1.0
six==1.17.0
sqlparse==0.5.1
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
